<html>
<body>
<h1>Cadastro de Produtos</h1>
<form action="/produtos" method="post">
    <div>
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" placeholder="Coloque o titulo"/>
    </div>
    <div>
        <label for="preco">Precol</label>
        <input type="text" name="preco" placeholder="Coloque o preco"/>
    </div>
    <div>
        <label for="descricao">Descricao</label>
        <textarea cols="10" name="descricao" placeholder="Coloque a descricao"></textarea>
    </div>
    <input type="submit" value="gravar"/>
</form>
</body>
</html>